.fourth{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding-left: 90px;
    padding-right: 70px;
}

.fourth-text{
    width: 50%;
    margin-left: 50px;
}
.third-img{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 50px;
}
.third-img img{
    width: 100%;
    height: 67vh;
    border-radius: 20px;
}
.fourth-text h1{
    font-size: 3rem;
    margin-top: 10px;
    line-height: 55px;
    font-weight: 600;

}
.fourth ul{
    list-style: disc;
    margin-top: 25px;
    margin-left: 20px;
}
.fourth span{
    font-weight: 600;
}
.fourth ul li{
    font-size: 1.2rem;
    margin-top: 20px;
}
.fourth button{
    width: 160px;
    background-color:  rgb(0, 30, 255);
    color: white;
    height: 55px;
    border-radius: 40px;
    border: 1px solid blue;
    margin-top: 23px;

}
.fourth button:hover{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: blue;
}
.fourth .is{
    font-size: 18px;
    transform: rotate(-45deg);
    color: blue;

}
.fourth label{
    cursor: pointer;
    margin-left: 30px;

}
.fourth label:hover{
    color: blue;
}
@media (max-width:600px) {

    .fourth{
width: 100%;
min-height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 80px;
    flex-wrap: wrap;
}
.fourth-text{
    width: 100%;
    margin-left: 5px;
}
.third-img{
    width: 100%;
    
}
.fourth-text h1{
    font-size: 2rem;
}
.fourth-text h1{
    font-size: 1.6rem;
    
}
.fourth ul li{
    font-size: 1rem;
}
.third-img img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

}